<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="../assets/js/find-species.js"></script>

<span id="question">How Rare is your Character?</span>
<br/>
<div class="container">
  <input title="A species that you would expect to find in over 60% of the population of the nearby area. One that might be an expected traveler." id="option1" type="button" class="btn large" value="Common" onclick="q1(option1)">
  <input title="A species that there may be a small family of spanning over a region. One that might have roots elsewhere." id="option2" type="button" class="btn large" value="Uncommon" onclick="q1(option2)">
  <input title="Such a rare find in urban societies. One that guards mistake for something else." id="option3" type="button" class="btn large" value="Unique" onclick="q1(option3)">
</div>
<input id="reset" type="button" class="btn small" value="Reset" onclick="reset()">
