<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="../assets/js/find-species.js"></script>

<span id="question">How Rare is your Character?</span>
<br/>
<div class="container">
  <input id="option1" type="button" class="btn large" value="Common" onclick="q1(option1)">
  <input id="option2" type="button" class="btn large" value="Uncommon" onclick="q1(option2)">
  <input id="option3" type="button" class="btn large" value="Unique" onclick="q1(option3)">
</div>
<input id="reset" type="button" class="btn small" value="Reset" onclick="reset()">
