<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>

  <noscript><style> #sidebar { max-height: initial !important; } </style></noscript>
  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <meta charset="UTF-8">

  {% seo %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
    type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#15628e">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link id = "standardStyle" rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="shortcut icon" type="image/x-icon" href="https://tylertitsworth.github.io/5th-age-srd/favicon.png">
</head>

<body>
  <a id="skip-to-content" href="#content">Skip to the content.</a>

  <header class="page-header" role="banner">
    <h1 class="project-name">{{ site.subtitle | default: site.github.repository_name }}</h1>
    {% capture page_title %}{{ page.name | split: "." | first }}{% endcapture %}
    <h2 class="project-dir">/ <a href="{{ site.github.url | default: '../' | relative_url }}">{{ site.subtitle | default: 'Main Page' }}</a> / <a href="{{ page.url | absolute_url | default: './' }}">{% if n.name_over_title %}{{ page_title }}{% else %}{{ page.subtitle | default: page_title }}{% endif %}</a></h2>
    <br>
    {% if site.show_downloads %}
        <a href="{{ site.github.sheet_url }}" class="btn">Download Character Sheet</a>
        <button type="button" class="btn power-button" onclick="powerPrint()">Print Highlighted Power Cards</button>
    {% endif %}

</header>

  <aside id="sidebar">
    <nav class="navigator" id="nav">
      {% assign n=site.navigation %}
      {% include toc.html html=content sanitize=n.sanitize strip_par=n.strip_par class=n.class id=n.id h_min=n.h_min h_max=n.h_max ordered=n.ordered item_class=n.item_class submenu_class=n.submenu_class base_url=n.base_url anchor_class=n.anchor_class skip_no_ids=n.skip_no_ids %}
    </nav>
  </aside>

  <div class="main-wrapper">
    <main id="content" class="main-content" role="main">
      <div id="content-wrapper">
        {% include anchor_headings.html html=content anchorBody="#" beforeHeading=true anchorClass="heading-anchor" anchorTitle="%heading%" %}
      </div>
  
      <footer class="site-footer">
        {% if site.github.is_project_page %}
        <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>
          is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/Bilal2453/cayman-docs/">Cayman Docs</a> theme.</span>
      </footer>
    </main>
  </div>
  <script src="{{ '/assets/js/js_enabled.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  <script src="{{ '/assets/js/anchor_spy.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  <script src="{{ '/assets/js/navigator.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  <script src="../assets/js/power-cards.js"></script>

</body>

</html>